<% @item.comments.each do |comment| %>
<div class='comment_icon'>
  <div class='comment_img'>
    <% if comment.user.image.attached? %>
      <%= image_tag comment.user.image.variant(resize:'200x200'),class: 'comment_photo' %>
    <% else %>
      <%= image_tag 'no_image.jpeg',class: 'comment_photo' %>
    <% end %>
    <p><%= comment.user.name %></p>
  </div>
  <div class='comment_text'>
    <div class='comment_comment'>
    <p><%= comment.created_at.strftime('%Y/%m/%d') %> <%= comment.comment %></p>
    </div>
    <% if comment.user == current_user %>
      <%= link_to item_comment_path(comment.item, comment),method: :delete, remote: true do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>