<% @items.each do |item| %>
  <h6 class="card-title">
      <% if item.purchase.blank? %>
        <span>
        <% if item.image.attached? %>
        <%= image_tag item.image.variant(resize:'300x300') %>
        <% else %>
        <%= image_tag 'no_image.jpg' %>
        <% end %>
        </span>
      <% else %>
        <h2 class="sold-out">Sold Out!</h2>
      <% end %>
      <p><%= item.name %></p><br/>
    <p><%= item.genres.map(&:name).join(', ') %></p>
    <%= item.price %>
    <% if user_signed_in? %>
    <p><%=link_to"詳しくはこちら",item_path(item),class: "btn btn-success" %></p>
    <% end %>
  </h6>
<% end %>