<div class="container">
<h5>タグが<%=@genre.name%>の投稿一覧</h5>

<!--タグリスト-->

<% @items.each do |item| %>
<h6 class="card-title">
  <%=link_to item_path(item.id) do %>
    <% if user_signed_in? && item.purchase.blank? %>
      <span>
    	<% if item.image.attached? %>
      <%= image_tag item.image.variant(resize:'300x300') %>
      <% else %>
      <%= image_tag 'no_image.jpg' %>
      <% end %>
      </span>
    <% else %>
      <h2 class="sold-out">Sold Out!</h2>
    <% end %>
    <%= item.name.truncate(25) %><br/>
  <% end %>
  ¥<%= item.price %>
</h6>
<% end %>