<main>
  <div class="container">
    <div class="row">
    <% @items.each do |item| %>
    <ul>
      <li>
        <% if item.purchase.blank? %>
    	    <span>
    	    <% if item.image.attached? %>
            <%= image_tag item.image,class: "item_icon"   %>
          <% else %>
            <%= image_tag 'no_image.jpeg' ,class: "item_icon" %>
          <% end %>
          </span>
        <% else %>
          <%= image_tag 'SELL (1).png' ,class: "item_icon soldout" %>
        <% end %>
      	<p class="txet"><%= item.name %></p>
      	<p><%= item.genres.map(&:name).join(', ') %></p>
        <p>¥<%= item.price %></p>
        <% if user_signed_in? %>
        <p><%=link_to"詳しくはこちら",item_path(item),class: "btn btn-success" %></p>
        <% end %>
      </li>
    </ul>   
    <% end %>
    </div>
  </div>
</main>