<main>
  <div class="container">
    <div class="row">
    <% @items.each do |item| %>
    <ul>
      <li>
        <% if item.purchase.blank? %>
    	    <span>
    	    <% if item.image.attached? %>
              <%= image_tag item.image.variant(resize:'300x300') %>
          <% else %>
             <%= image_tag 'no_image.jpg' %>
          <% end %>
          </span>
        <% else %>
          <h2 class="sold-out">Sold Out!</h2>
        <% end %>
      	<p class="txet"><%= item.name %></p>
      	<p><%= item.genres.map(&:name).join(', ') %></p>
        <p>¥<%= item.price %></p>
        <% if user_signed_in? %>
        <p><%=link_to"詳しくはこちら",item_path(item),class: "btn btn-success" %></p>
        <% end %>
      </li>
    </ul>   
    <% end %>
    </div>
  </div>
</main>