<div class='container mt-5'>
  <div class='row'>
  <h2 class='text-center'>売り上げ商品一覧</h2>
  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th>商品画像</th>
        <th>商品名</th>
        <th>商品金額</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @purchased_items.each do |item| %>
      <tr>
        <td>
          <% if user_signed_in? && item.purchase.blank? %>
            <%= link_to item_path(item) do %>   
              <% if item.image.attached? %>
               <%= image_tag @item.image,class: 'data_photo' %>
              <% else %>
               <%= image_tag 'no_image.jpeg' ,class: 'data_photo' %>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to item_path(item) do %>
            <%= image_tag 'SELL (1).png' ,class: 'data_photo soldout' %>
            <% end %>
       　  <% end %>
        </td>
        <td>
          <%= link_to item_path(item) do %>
            <%= item.name %>
          <% end %>
        </td>
        <td>¥<%= item.price %></td>
        <td class='text-center'><%= link_to '商品詳細ページへ',item_path(item),class:'btn btn-success' %></td>
      </tr> 
    <% end %>
    <%= paginate @purchased_items %>
    </tbody>
  </table>
  <div class='row mt-5'>
    <h2 class='text-center'>売り上げの総個数と総合計金額</h2>
    <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th class='text-center'>売り上げた個数</th>
          <th class='text-center'>売上合計金額</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class='text-center'><%= @items.count %>個</td>
          <td class='text-center'>¥<%= @sum %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <h2 class='text-center mt-5'>期間別売り上げ個数と合計金額のグラフ</h2>
  <div class='row data_graph'> 
    <div class='row'>
      <div class='col-6 text-center'>
        <label class='text-user'>日別の売り上げ合計金額</label>
        <%= column_chart @items_price_day,width: '200px', height: '200px' ,colors: ['#FF4F02']  %>
      </div>
      <div class='col-6 text-center'>
        <label class='text-user text-center'>日別の売り上げ個数</label>
        <%= line_chart @items_count_day,width: '200px', height: '200px' ,colors: ['#FF4F02'] %>
      </div>
    </div>
    <div class='row mt-5'>
      <div class='col-6 text-center'>
        <label class='text-user text-center'>週別の売り上げ合計金額</label>
        <%= column_chart @items_price_week,width: '200px', height: '200px' ,colors: ['#FF4F02'] %>
      </div>
      <div class='col-6 text-center'>
        <label class='text-user text-center'>日別の売り上げ個数</label>
        <%= line_chart @items_count_week,width: '200px', height: '200px' ,colors: ['#FF4F02'] %>
      </div>
    </div>
    <div class='row mt-5'>
      <div class='col-6 text-center'>
        <label class='text-user'>月別の売り上げ合計金額</label>
        <%= column_chart @items_price_month,width: '200px', height: '200px' ,colors: ['#FF4F02'] %>
      </div>
      <div class='col-6 text-center'>
        <label class='text-user'>月別の売り上げ個数</label>
        <%= line_chart @items_count_month,width: '200px', height: '200px' ,colors: ['#FF4F02'] %>
      </div>
    </div>
  </div>
  <h2 class='text-center mt-5'>売れた商品のジャンル割合</h2>
  <div class='row data_graph'>
    <div class='col-6'>
      <%= pie_chart  @item_purchase_genre_count %>
    </div>
    <div class='col-6'>
      <!---->ランキング描く 
    </div>
  </div>
</div> 
