<div class='container mt-5 mb-5'>
  <div class='row'>
  <h2 class='text-center data_graph_title'>売り上げ商品一覧</h2>
  <table class='table table-hover table-inverse data_table'>
    <thead>
      <tr>
        <th>商品画像</th>
        <th>商品名</th>
        <th>商品金額</th>
      </tr>
    </thead>
    <tbody>
    <% @purchased_items.each do |item| %>
      <tr>
        <td>
          <% if user_signed_in? && item.purchase.blank? %>
            <%= link_to item_path(item) do %>
              <% if item.image.attached? %>
               <%= image_tag item.image,class: 'data_photo' %>
              <% else %>
               <%= image_tag 'no_image.jpeg' ,class: 'data_photo' %>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to item_path(item) do %>
            <%= image_tag 'SELL (1).png' ,class: 'data_photo soldout' %>
            <% end %>
       　  <% end %>
        </td>
        <td>
          <%= link_to item_path(item) do %>
            <%= item.name %>
          <% end %>
        </td>
        <td>¥<%= item.price %></td>
      </tr>
    <% end %>
    <%= paginate @purchased_items %>
    </tbody>
  </table>
  <div class='row mt-5'>
    <h2 class='text-center data_graph_title'>売り上げの総個数と総合計金額</h2>
    <table class='table table-hover table-inverse text-center data_table'>
      <thead>
        <tr>
          <th>売り上げた個数</th>
          <th>売上合計金額</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @items.count %>個</td>
          <td>¥<%= @sum %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <h2 class='text-center mt-5 data_graph_title'>期間別売り上げ個数と合計金額のグラフ</h2>
  <div class='data_graph'>
    <div class="chart_table">
      <div class='text-center graph'>
        <label>日別の売り上げ合計金額</label>
        <%= column_chart @items_price_day,width: '300px', height: '300px' ,colors: ['#FF4F02'] %>
      </div>
      <div class='text-center graph'>
        <label>日別の売り上げ個数</label>
        <%= line_chart @items_count_day,width: '300px', height: '300px' ,colors: ['#FF4F02']  %>
      </div>
      <div class='text-center graph'>
        <label>週別の売り上げ合計金額</label>
        <%= column_chart @items_price_week,width: '300px', height: '300px' ,colors: ['#FF4F02'] %>
      </div>
      <div class='text-center graph'>
        <label>週別の売り上げ個数</label>
        <%= line_chart @items_count_week,width: '300px', height: '300px' ,colors: ['#FF4F02'] %>
      </div>
      <div class='text-center graph'>
        <label>月別の売り上げ合計金額</label>
        <%= column_chart @items_price_month,width: '300px', height: '300px' ,colors: ['#FF4F02'] %>
      </div>
      <div class='text-center graph'>
        <label>月別の売り上げ個数</label>
        <%= line_chart @items_count_month,width: '300px', height: '300px' ,colors: ['#FF4F02'] %>
      </div>
    </div>
  </div>
  <h2 class='text-center mt-5'>売れた商品のジャンル割合</h2>
  <div class='row data_graph'>
    <%= pie_chart  @item_purchase_genre_count %>
  </div>
</div>


