 <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th>画像</th>
          <th>商品名</th>
          <th>金額</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
        <tr>
          <td>
            <% if user_signed_in? && item.purchase.blank? %>
              <%= link_to item_path(item) do %>   
                <% if item.image.attached? %>
                  <%= image_tag item.image.variant(resize:'300x300') %>
                <% else %>
                  <%= image_tag 'no_image.jpg' %>
                <% end %>
              <% end %>
            <% else %>
             <h2 class="sold-out">Sold Out!</h2>
       　　　　 <% end %>
          </td>
            <td>
              <%= link_to item_path(item) do %>
              <%= item.name %>
              <% end %>
            </td>
            <td><%= item.price %></td>
          </tr> 
        <% end %>
      </tbody>
    </table>
    
  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th>売り上げた個数</th>
        <th>売上合計金額</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @items.count %>個</td>
        <td>¥<%= @sum %></td>
      </tr>
    </tbody>
  </table>
    
         
    
  <label class="text-user">日別の合計金額</label>
  <div class="graph">
    <div class="graph">
          <%= column_chart @items_price_day,id: "column-chart", width: "200px", height: "200px" ,colors: ['#FF4F02'] %>
    </div>
  </div>
  
  <label class="text-user">週別の合計金額</label>
  <div class="graph">
    <div class="graph">
          <%= column_chart @items_price_week,id: "column-chart", width: "200px", height: "200px" ,colors: ['#FF4F02'] %>
    </div>
  </div>
  
  <label class="text-user">月別の合計金額</label>
  <div class="graph">
    <div class="graph">
          <%= column_chart @items_price_month,id: "column-chart", width: "200px", height: "200px" ,colors: ['#FF4F02'] %>
    </div>
  </div>
  
  