 <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th>画像</th>
          <th>商品名</th>
          <th>金額</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
        <tr>
          <td>
            <% if user_signed_in? && item.purchase.blank? %>
              <%= link_to item_path(item) do %>   
                <% if item.image.attached? %>
                 <%= image_tag @item.image,class: "item_icon" %>
                <% else %>
                 <%= image_tag 'no_image.jpeg' ,class: "item_icon" %>
                <% end %>
              <% end %>
            <% else %>
            <%= image_tag 'SELL (1).png' ,class: "item_icon soldout" %>
       　　　　 <% end %>
          </td>
            <td>
              <%= link_to item_path(item) do %>
              <%= item.name %>
              <% end %>
            </td>
            <td><%= item.price %></td>
          </tr> 
        <% end %>
      </tbody>
    </table>
    
  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th>売り上げた個数</th>
        <th>売上合計金額</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @items.count %>個</td>
        <td>¥<%= @sum %></td>
      </tr>
    </tbody>
  </table>
    
         
  <div class="row"> 
  
    <div class="col-3">
      <label class="text-user">日別の売り上げ合計金額</label>
      <div class="graph">
        <div class="graph">
              <%= column_chart @items_price_day,width: "200px", height: "200px" ,colors: ['#FF4F02'] %>
        </div>
      </div>
    </div>
  
    <div class="col-3">
    <label class="text-user">週別の売り上げ合計金額</label>
      <div class="graph">
        <div class="graph">
              <%= column_chart @items_price_week,width: "200px", height: "200px" ,colors: ['#FF4F02'] %>
        </div>
      </div>
    </div>
    
    <div class="col-3">
    <label class="text-user">月別の売り上げ合計金額</label>
    <div class="graph">
      <div class="graph">
            <%= column_chart @items_price_month,width: "200px", height: "200px" ,colors: ['#FF4F02'] %>
      </div>
    </div>
    </div>
    
   <%= pie_chart  @item_purchase_genre_count %>
    
  </div> 
  