<div class='container favorite_index col-12 mb-5'>
  <div class='row'>
  <h2 class='text-center'>いいね一覧</h2>
  <p class='text-center'>~スクロールして見れるよ！~</p>
    <div class='col-1'></div>
    <div class='favorite_index_table p-3'>
    <table class='table table-hover table-inverse col-10'>
      <thead>
        <tr>
          <th>商品画像</th>
          <th>商品名</th>
          <th>金額</th>
        </tr>
      </thead>
      <tbody>
      <% @favorite_items.each do |item|%>
        <tr>
          <td>
          <% if user_signed_in? && item.purchase.blank? %>
            <%= link_to item_path(item.id) do %>   
              <% if item.image.attached? %>
                <%= image_tag item.image,class: 'favorite_photo' %>
              <% else %>
                <%= image_tag 'no_image.jpeg',class: 'favorite_photo' %>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to item_path(item.id) do %> 
              <%= image_tag 'SELL (1).png' ,class: 'favorite_photo' %>
            <% end %>
      　　<% end %>
          </td>
          <td><%= item.name %></td>
          <td>¥<%= item.price %></td>
        </tr>  
      <% end %>
      </tbody>
    </table>
    </div>
    <div class='col-1'></div>
  </div>
</div>