<div class='container mt-5 mb-5'>
  <div class='row col-md-12'>
    <div class='col-md-4 text-center mt-5'>
      <div class='text-center'>
       
        <% if @user.image.attached? %>
          <%= image_tag @user.image.variant(resize:'200x200'),class: 'profile_icon text-center' %>
        <% else %>
          <%= image_tag 'no_image.jpeg',class: 'profile_icon' %>
        <% end %>
        <p>名前:&nbsp;&nbsp;<%= @user.name %></p>
      
      </div>
   
      <div class='follow_link'>
      <div>フォロー:<%= link_to follows_user_path(@user) do %><%= @user.following_user.count %><% end %>&nbsp;&nbsp;フォロワー:<%= link_to followers_user_path(@user) do %><%= @user.follower_user.count %> <% end %></div>
        <div class='follow_btn'>
        <% if current_user != @user %>
        　<% if current_user.following?(@user) %>
          　<%= link_to 'フォロー外す', user_relationships_path(@user.id), method: :delete, class: 'btn btn-danger' %>
          <% else %>
        　 <%= link_to 'フォローする', user_relationships_path(@user.id), method: :post, class: 'btn btn-primary' %>
          <% end %>
        <% end %>
        </div>
      </div>
      
      <div class='row text-center'>
        <div class='col-1'></div>
        <div class='col-10'>
        <% if @user.id == current_user.id %> 
          <%= link_to 'プロフィールを編集する', edit_user_path(@user),class: 'btn btn-outline-secondary btn-block fas fa-user-cog' %>
          <div class ='mt-2'>プロフィール</div>
          <div class='profile mb-2'>
            <p class='profile_text'><%= @user.profile %></p>
          </div>
          <%= link_to image_tag('SELL.png', size: '170x170'),new_item_path %>
        <% end %>
        </div>
        <div class='col-1'></div>
      </div>
    </div>
    
    
    <div class='col-md-8 text-center'>
    
    <h2 class='text-center mt-2 user_item-title'>出品した商品一覧(全<%= @items.count %>件)</h2>
    <div class='user_item_index'>
      <div class='user_item_wrap d-flex flex-wrap justify-content-center m-2'>
        <% @items.each do |item| %>
          <div class='user_item'>
            <% if item.purchase.blank? %>
              <% if item.image.attached? %>
                <%= link_to item_path(item) do %>
                <%= image_tag item.image,class: 'user_item_icon' %>
                <% end %>
              <% else %>
                <%= link_to item_path(item) do %>
                <%= image_tag 'no_image.jpeg' ,class: 'user_item_icon' %>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to item_path(item) do %>
              <%= image_tag 'SELL (1).png' ,class: 'user_item_icon' %>
              <% end %>
            <% end %>
            <p>¥<%= item.price %></p>
          </div>  
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
<div class='footer_padding'></div>

