<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3 text-center'>
      <h2>Profile</h2>
      <table class='table text-center'>
        <tr>
          <% if @user.image.attached? %>
            <%= image_tag @user.image.variant(resize:'250x250'),class: "profile_icon" %>
          <% else %>
            <%= image_tag 'no_image.jpeg' %>
          <% end %>
        </tr>
        <tr>
      	  <th>name</th>
      	  <th><%= @user.name %></th>
        </tr>
        <tr>
      	  <th>introduction</th>
      	  <th><%= @user.profile %></th>
        </tr>
      </table>
　　　
　　　
      <div class='row'>
      　<% if @user.id == current_user.id %> 
        <%= link_to 'プロフィールを編集する', edit_user_path(@user),class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>
        <%= link_to image_tag("SELL.png", size: "200x200"),new_item_path, class: "text-center image mt-2" %>
        <% end %>
      </div>
      
    </div>
   
    
    <div class='col-md-7 offset-md-1 text-center'>
    <h2>出品した商品一覧</h2>
      <div class="wrap">
        <% @items.each do |item| %>
        <%= link_to item_path(item) do %>
          <div class="item">
            <% if user_signed_in? && item.purchase.blank? %>
              <%= link_to item_path(item) do %>   
                <% if item.image.attached? %>
                  <%= image_tag item.image,class: "item_icon"   %>
                <% else %>
                  <%= image_tag 'no_image.jpeg' ,class: "item_icon" %>
                <% end %>
              <% end %>
            <% else %>
            <%= link_to item_path(item) do %> 
            <h2><%= image_tag 'SELL (1).png' ,class: "item_icon soldout" %></h2>
            <% end %>
       　　　 <% end %>
            <p class="item_price">¥<%= item.price %></p>
          </div>
          <% end %>
        <% end %>
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>

