<% @items.each do |item| %>
    <h6 class="card-title">
      <%=link_to item_path(item) do %>
      <span>
    	    <% if item.image.attached? %>
              <%= image_tag item.image.variant(resize:'300x300') %>
          <% else %>
             <%= image_tag 'no_image.jpg' %>
          <% end %></span>
      <p><%= item.name %></p><br/>
      <p><%= item.genres.map(&:name).join(', ') %></p>
      <%= item.price %>
      <% end %>
    </h6>
<% end %>