<div class="container shadow-sm">
<header>
  <div class="row">
    <div class="col-2">
      <%= link_to image_tag("パンプキン (1).png", size: "80x80"), root_path, class: "image mt-2" %>
    </div>
    <div class="col-2">
      <%= form_tag(searches_search_path,method: :get) do %>
      <%= text_field(@search_content, :search_word) %>
      <input type="submit" value="&#xf002" class="fas header-search btn btn-sm btn-danger mt-3">
      <% end %>
    </div>
    <div class="col-2">
      <%= link_to 'お問い合わせ',inquiries_path,class: "btn btn-sm btn-danger mt-3" %>
    </div>
    <div class="col-6">
    <div class="navbar nav-left ml-auto" id="navbarToggleExternalContent">
          <div class="col-2">
          <%= link_to 'カテゴリ一覧',searches_tag_lists_path,class: "btn btn-sm btn-danger mt-3" %>
          </div>
        <% if user_signed_in? %>
          <div class="col-2">
          <%= link_to 'マイページ',user_path(id: current_user),class: "btn btn-sm btn-danger mt-3" %>
          </div>
          <div class="col-2">
          <%=link_to"お気に入り品",favorites_user_path(id: current_user),class: "btn btn-sm btn-danger mt-3" %>  
          </div>
          <div class="col-2">
          <%= link_to '分析データ',datas_user_path(id: current_user),class: "btn btn-sm btn-danger mt-3" %>
          </div>
          <div class="col-2">
          <%= link_to '購入履歴',purchases_path,class: "btn btn-sm btn-danger mt-3" %>
          </div>
          <div class="col-2">
          <%= link_to 'ログアウト',destroy_user_session_path,method: :delete,class: "btn btn-sm btn-danger mt-3" %>
          </div>
        <% elsif admin_signed_in? %>
          <div class="col-2">
          <%= link_to '会員一覧',admin_users_path,class: "btn btn-sm btn-danger mt-3" %>  
          </div>
          <div class="col-2">
          <%= link_to 'カテゴリ編集',admin_genres_path,class: "btn btn-sm btn-danger mt-3" %>
          </div>
          <div class="col-2">
          <%= link_to 'ログアウト',destroy_admin_session_path,method: :delete,class: "btn btn-sm btn-danger mt-3" %>
          </div>
        <% else %>
          <div class="col-2">
          <%= link_to '新規登録',new_user_registration_path,class: "btn btn-sm btn-danger mt-3" %>
          </div>
          <div class="col-2">
          <%= link_to 'ログイン',new_user_session_path,class: "btn btn-sm btn-danger mt-3" %>
          </div>
        <% end %>
    </div>
    </div>
  </div>
</header>
</div>
